body {
	background: #00577A;
	font-weight: 300;
}
a, a:focus, a:hover{
	color: white;
}
input[placeholder], [placeholder], *[placeholder] {
	text-align: center;
}
.modal-header{
	background: #00577A;
}
.modal-header button, .modal-header h4{
	color: white;
}
#usuario::-webkit-input-placeholder, #contrasena::-webkit-input-placeholder, #email::-webkit-input-placeholder, #re_contrasena::-webkit-input-placeholder ,#telefono::-webkit-input-placeholder {
	color: white;
}

#usuario:-moz-placeholder, #contrasena:-moz-placeholder, #email:-moz-placeholder, #re_contrasena:-moz-placeholder, #telefono:-moz-placeholder {
	color: white;
}
#usuario, #contrasena, #email, #re_contrasena, #telefono{
	color: white;
}

#usuario::-moz-placeholder, #contrasena::-moz-placeholder, #email::-moz-placeholder, #re_contrasena::-moz-placeholder, #telefono::-moz-placeholder {
	color: white;
}

#usuario:-ms-input-placeholder, #contrasena:-ms-input-placeholder, #email:-ms-input-placeholder, #re_contrasena:-ms-input-placeholder, #telefono:-ms-input-placeholder {
	color: white;
}

.login{
	margin-left: 2em;
	margin-right: 2em;
}
.login>center>form>button{
	background: #fff;
	color: #00557E;
}
.login>center>form>a{
	background: #fff;
	color: #00557E;
}
.navbar-header{
	font-size: 2em;
}
#nav{
	background: #00577A;
	color: white;
	height: 70px;
}
#nav div{
	height: 100%;
}
#nav small{
	font-size: 120%;
	display: block;
}
#nav span{
	display: block;
	margin-top: -1.4em;
	margin-bottom: -1em;
	font-size: 200%;
}
#nav div:nth-child(1){
	font-size: 2em;
	background: #00557E;
	color: white;
	text-align: center;
	padding: 12px;
}
#nav div:nth-child(3){
	/*background: url('../img/racoon-pin.png') no-repeat center center;
	background-size: 67px auto;
	margin-left: -3px;
	background-position-y: 1px;*/
}


#map{
	height: 600px;
}

.modalEmpresa{
	background: white;
	border-radius: 2px;
	padding: 15px;
}
#modalEmpresa button{
	margin-top: -30px;
    margin-right: -30px;
    background: #68BDC7;
    border-radius: 50%;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    opacity: 1;
}

#whereiam{
	position: absolute;
	bottom: 1%;
	left: 10px;
	padding: 0;
	background: white;
	width: 30px;
	height: 30px;
}
#whereiam i{
	font-weight: bold;
	color: black;
	line-height: 26px;
	font-size: 20px;
}
